Source: ${name}
Maintainer: ${maintainer.name} <${maintainer.email}>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 9)

Package: ${name}
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ${short_description}
${long_description}
